[submodule "libs/mfem"]
	path = libs/mfem
	url = https://github.com/mfem/mfem.git
[submodule "glvis"]
	path = glvis
	url = https://github.com/GLVis/glvis.git
[submodule "libs/hypre"]
	path = libs/hypre
	url = https://github.com/hypre-space/hypre.git
[submodule "libs/Mutationpp"]
	path = libs/Mutationpp
	url = https://github.com/mutationpp/Mutationpp.git
[submodule "libs/plato"]
	path = libs/plato
	url = https://github.com/Cherithl/plato-cherith-main.git
